.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #222;
  color: white;
}
.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.nav-link:hover {
  color:beige;
  
}
.search-form {
  display: flex;
  gap: 10px;

}
.search-form input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  font-size: 20px;

}
.search-form input:hover {
background-color: papayawhip;


}
.search-form button {
  padding: 8px 12px;
  background: #ff9800;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  width: 100px;
  font-size: 20px;
}
.search-form button:hover {
  background: green;
  color: beige;

}